* {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    margin: auto;
    background-color: #121212;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    height: 100vh;
    width: 80vw;
}

#windowTitle {
    font-size: 32px;
    font-weight: 800;
    color: #FFDB70;
    margin: 30px auto 30px 50px;
}

#appContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    background-color: #1E1E1F;
    width: 70vw;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
}

#searchBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1E1E1F;
    width: 70vw;
}

#inputBar {
    flex: auto;
    background-color: #282829;
    color: #FAFAF7;
    border-radius: 10px;
    border: none;
    padding: 16px;
    font-size: 16px;
    width: 70%;
}

#inputBar:focus {
    outline: 2px solid #FFDB70;
}   

#searchBar button {
    border: none;
    background-color: #FFDB70;
    border-radius: 10px;
    width: 50px;
    font-size: 22px;
    height: 95%;
    margin: 0 0 0 10px;
}

#recentSearches {
    display: none;
}
#recentSearches p, #recentSearches i {
    display: inline;
    color: #B8B8B8;
    font-size: 14px;
}

#weatherInfo {
    display: none;
    flex-flow: row wrap;
    color: white;
    gap: 20px;
}

#weatherInfo i {
    display: inline;
    margin-right: 20px;
    color: #FFDB70;
}
#weatherInfo h2 {
    flex: 0 0 100%;
    margin: auto;
}

#weatherInfo img {
    margin: auto;
}

#weatherInfo h1 {
    display: block;
    flex: 0 0 40%;
    margin: auto;
    font-size: 50px;
}
#weatherInfo h1 p {
    font-size: 14px;
    font-weight: 500;
    margin: auto auto auto 10px;
}

#weatherInfo .details {
    text-align: center;
    background-color: #282829;
    font-weight: 600;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
}

#weatherInfo .details p {
    margin-top: 20px;
}

#forecastInfo {
    display: none;
    flex-flow: row nowrap;
    gap: 10px;
    color: white;
}

#forecastInfo .details {
    text-align: center;
    background-color: #282829;
    font-weight: 300;
    margin: auto;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
}

#errorMessage {
    color: red;
}

#recents {
    display: none;
    flex-flow: row wrap;
    color: #B8B8B8;
    justify-content: flex-start;
    gap: 20px;
}

#recents h5 {
    font-size: 16px;
    font-weight: 400;
    margin: auto;
    flex: 0 0 100%;
}
#recents h5 i {
    margin-right: 10px;
}

#recents p {
    display: block;
    background-color: #282829;
    cursor: default;
    height: 30px;
    width: 100px;
    border-radius: 30px;
    text-align: center;
}

#recents p:hover {
    background-color: #313131;
}