.masterofpuppets {
    display: flex;
    height: 100vh;
    width: 100vw;
    place-content: center;
    place-items: center;
    gap: 30px;
}

.authBox {
    background-color: #292b2e;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 30em;
    border-radius: 8px;
    box-shadow: 4px 4px black;
}

.authBox form {
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    padding: 8px;
    margin: 8px;
}


.fields {
    padding: 8px;
}

.fields input {
    width: 90%;
    padding: 8px;
    margin: 8px;
    border: none;
    background-color: #45484d;
    border-radius: 8px;
}

.fields label {
    font-size: 20px;
}

input:focus {
    outline: none;
    border: none;
}

.rules {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 12rem;
    background-color: #292b2e;
    border-radius: 8px;
    box-shadow: 4px 4px black;
    padding: 38px 0 38px 0;
}
.rules p {
    margin: 1px;
    text-align: center;
}

.homeflex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.searchbox {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.searchbox label {
    flex: 0 0 100%;
    margin-bottom: 5px;;
}

.searchbox input {
    border: none;
    width: 70%;
    padding: 8px;
    border-radius: 8px;
    outline: 1px solid #292b2e;
    background-color: #292b2e;
    transition: outline-color 0.25s;
}

.searchbox input:hover, .searchbox input:focus {
    outline-color: #646cff;
}

.result {
    display: flex;
    flex-flow: column nowrap;
    overflow-x: auto;
    gap: 16px;
    margin-top: 16px;
    width: 25em;
}

.resultbox {
    text-align: center;
    background-color: #292b2e;
    border-radius: 8px;
}

.resultbox p {
    margin: auto auto 8px auto;
}