.container {
  margin: auto;
  width: 100vw;
  height: 100vh;
  transition: 0.5s ease;
}

.container h1 {
  margin: 0;
}

.noteList {
  list-style: none;
  padding: 0;
}

.noteItem {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.07);
}

.noteTitle {
  margin: 0;
  font-size: 1.5rem;
}

.noteDescription {
  white-space: pre-line;
}